@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: grey;
  max-width: 100%;
  margin: 0 1em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  font-size: smaller;
  background-color: #0e0f19;
}

header a {
  text-decoration: none;
  color: grey;
}

header h2 {
  color: white;
  padding: 6px;
  text-align: center;
  margin: 0 1em;
}

header h3 {
  color: white;
  padding: 6px;
  text-align: center;
}

button {
  background-color: #0e0f19;
  color: white;
  padding: 6px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  margin-top: 1em;
  text-align: center;
}

#question-container {
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 55%;
  top: 0;
  left: 0;
  border-radius: 14px;
}

#question-container h2 {
  text-align: center;
  margin: 0 1em;
  color: white;
}

#answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto auto;
}

.answer-ul li {
  list-style-type: none;
  background-color: black;
  color: white;
  padding: 25px 35px;
  border-radius: 14px;
  margin-bottom: 1.5em;
  text-align: center;
  cursor: pointer;
}

#correct {
  background-color: #b56576;
}

#answer1 {
  background-color: #eaac8b;
}

#answer2 {
  background-color: #e56b6f;
}

#answer3 {
  background-color: #dabfff;
}

.win {
  border: 2px solid green;
}

.lose {
  border: 2px solid red;
}

.gameover {
  font-size: x-large;
  position: absolute;
  padding: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#new-game {
  cursor: pointer;
}

/**************** MEDIA QUERY *****************************************/

@media only screen and (max-width: 600px) {
  #answer-container {
    height: 80%;
    position: relative;
    margin-top: 90%;
    margin-left: 1.5em;
    right: 33%;
    transform: translateY(-50%);
  }

  #question-container {
    height: 40%;
    width: 55%;
    position: relative;
    top: 0;
    left: 18%;
  }
}

/************500px ****/
@media only screen and (max-width: 550px) {
  #answer-container {
    height: 80%;
    position: relative;
    margin-top: 120%;
    margin-left: 1.5em;
    right: 33%;
    transform: translateY(-50%);
  }

  #question-container {
    height: 40%;
    width: 55%;
    position: relative;
    top: 0;
    left: 18%;
  }
}

/************400px ****/
@media only screen and (max-width: 450px) {
  #answer-container {
    height: 80%;
    position: relative;
    margin-top: 155%;
    margin-left: 1.5em;
    right: 33%;
    transform: translateY(-50%);
  }

  #question-container {
    height: 40%;
    width: 55%;
    position: relative;
    top: 0;
    left: 18%;
  }
}

/************300px ****/
@media only screen and (max-width: 390px) {
  #answer-container {
    height: 80%;
    position: relative;
    margin-top: 170%;
    margin-left: 1.5em;
    right: 33%;
    transform: translateY(-50%);
  }

  #question-container {
    height: 40%;
    width: 55%;
    position: relative;
    top: 0;
    left: 18%;
  }
}
